<div class="container-fluid">
    <div class="row">
        <div class="col-10">
            <div class="row">
                <div class="col-3">
                    <form [formGroup]="this.formGroup">
                        <input list="companys" type="text" class="stockCodeKeyInput" placeholder="company"
                            formControlName="keyword">
                    </form>
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-dark" *ngIf="this.formGroup.value.keyword.includes(':')"
                        (click)="addCompareList()">
                        add to compare
                    </button>
                </div>
                <div class="col-2">
                    <ul class="drop-down-menu">
                        <li>
                            <a>{{this.nowTarget.value}}</a>
                            <ul>
                                <li *ngFor="let data of this.compareTargetList">
                                    <a class="compareTarget" (click)="changeCompareTarget(data)">{{data.value}}({{data.key}})</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <app-date-picker-range (newItemEvent)="getDataRange($event)"> </app-date-picker-range>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col" *ngIf="this.compareData && this.compareData.length">
                   <app-compare-echart [inputData]="this.wrapperEchart(this.compareData)"></app-compare-echart>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="row">
                <div class="col">
                    <pre>比較列表</pre>
                </div>
            </div>
            <div class="row align-items-center" *ngIf="this.compareList.length">
                <div class="col-6" *ngFor="let data of this.compareList; let idx = index">
                    <pre class="compareData" (click)="removeCompareCompany(idx)">{{data}}</pre>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <br>
        </div>
    </div>

</div>


<datalist id='companys'>
    <div *ngIf="this.companyList.length">
        <div *ngFor="let company of this.companyList">
            <option value="{{company}}"></option>
        </div>
    </div>
</datalist>