<form [formGroup]="this.formGroup">
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <input list="companys" type="text" class="stockCodeKeyInput" placeholder="company" formControlName="keyword">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-date-picker-range (newItemEvent)="getDataRange($event)"> </app-date-picker-range>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col" *ngIf="this.simpleSheets.length && !this.getDataStatus">
            <app-single-echart [inputData]="this.simpleSheets"></app-single-echart>
        </div>
        <div class="col" *ngIf="this.getDataStatus">
            <app-loading></app-loading>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
</div>
</form>

<datalist id='companys'>
    <div *ngIf="this.companyList.length">
        <div *ngFor="let company of this.companyList">
            <option value="{{company}}"></option>
        </div>
    </div>
</datalist>