<form [formGroup]="this.formGroup">
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <input list="codeList" type="text" class="stockCodeKeyInput" placeholder="stock code" formControlName="keyword">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <app-date-picker-range (newItemEvent)="getDataRange($event)"> </app-date-picker-range>
        </div>
        <div class="col-9" *ngIf="this.hasImmediateStock">
            <button type="button" class="btn btn-info" (click)="openImmediateStock()">ImmediateStock</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col" *ngIf="this.stockDatas.length">
            <app-stock-price-line [inputData]="this.stockDatas"></app-stock-price-line>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
</div>
</form>


<datalist id='codeList'>
    <div *ngIf="this.stockCodeList.length">
        <div *ngFor="let stock of this.stockCodeList">
            <option value="{{stock}}"></option>
        </div>
    </div>
</datalist>